
#textLogo {
  z-index: 999;
  position: absolute;
  bottom: 15px;
  left: 5px;
}

html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#formDiv {
  width: 100%;
}

.esri-item-list__scroller {
  overflow-y: visible;
}

.editArea-container {
  background: #fff;
  line-height: 1.5em;
  overflow: auto;
  padding: 12px 15px;
  width: 300px;
}

.list-heading {
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #323232;
}

.or-wrap {
  background-color: #e0e0e0;
  height: 1px;
  margin: 2em 0;
  overflow: visible;
}

.or-text {
  background: #fff;
  line-height: 0;
  padding: 0 1em;
  position: relative;
  bottom: 0.75em;
}

/* override default styles */
.esri-feature-form {
  background: #fff;
}

.esri-feature-templates {
  width: 256px;
}

.esri-feature-templates__section-header {
  display: none;
}

.esri-feature-templates__section {
  box-shadow: none;
}

.esri-feature-templates__scroller {
  max-height: 200px;
}

#topbar {
  background: #fff;
  padding: 10px;
}

.action-button {
  font-size: 16px;
  background-color: transparent;
  border: 1px solid #d3d3d3;
  color: #6e6e6e;
  height: 32px;
  width: 32px;
  text-align: center;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.action-button:hover,
.action-button:focus {
  background: #0079c1;
  color: #e4e4e4;
}

.active {
  background: #0079c1;
  color: #e4e4e4;
}